<div class="center">
  <a mat-button routerLink="/dep/add" class="add"><mat-icon>add</mat-icon>Registrar Departamento</a>
  
</div>
<nav class="center">
  <table mat-table [dataSource]="departamento" class="mat-elevation-z8">
    <ng-container matColumnDef="ID_DEPARTAMENTO">
      <th mat-header-cell *matHeaderCellDef>ID</th>
      <td mat-cell *matCellDef="let departamento"> {{departamento.ID_DEPARTAMENTO}} </td>
    </ng-container>
    <ng-container matColumnDef="DEPART_NAME">
      <th mat-header-cell *matHeaderCellDef>NOMBRE</th>
      <td mat-cell *matCellDef="let departamento"> {{departamento.DEPART_NAME}} </td>
    </ng-container>
    <ng-container matColumnDef="EDITAR">
      <th mat-header-cell *matHeaderCellDef>EDITAR</th>
      <td mat-cell *matCellDef="let departamento">
        <a mat-icon-button [routerLink]="['/update', departamento.ID_DEPARTAMENTO]">
          <mat-icon color="primary">edit</mat-icon>
        </a>
      </td>
    </ng-container>
    <ng-container matColumnDef="ELIMINAR">
      <th mat-header-cell *matHeaderCellDef>ELIMINAR</th>
      <td mat-cell *matCellDef="let departamento"> 
        <button (click)="delDepartamento(departamento.ID_DEPARTAMENTO)" mat-icon-button>
          <mat-icon color="warn">delete</mat-icon>
        </button>
      </td>
    </ng-container>
   
    
    <tr mat-header-row *matHeaderRowDef="['ID_DEPARTAMENTO', 'DEPART_NAME', 'EDITAR', 'ELIMINAR']"></tr>
    <tr mat-row *matRowDef="let row; columns: ['ID_DEPARTAMENTO', 'DEPART_NAME',  'EDITAR', 'ELIMINAR'];"></tr>
  </table>
</nav>